<div class="main-wrapper">
  <div class="toolbar">
    <button
      (click)="pageContentService.currentPage = pages.MAIN_PAGE"
      mat-raised-button
      color="primary"
    >Общая информация</button>
    <button
      (click)="pageContentService.currentPage = pages.GALLERY"
      mat-raised-button
      color="primary"
      class="toolbar__center-btn"
    >Галерея</button>
    <button
      (click)="pageContentService.currentPage = pages.CONTACTS"
      mat-raised-button
      color="primary"
    >Контакты</button>
  </div>
  <div class="main-wrapper__page-content">
    <ng-container [ngSwitch]="pageContentService.currentPage">
      <div *ngSwitchCase="pages.MAIN_PAGE" class="main-page-wrapper">
        <h1>
          Экспериментальная установка для определения мощности теплообменника
        </h1>
        <p style="margin-top: 2rem">
          Наша установка помогает решить такой ряд проблем как:
          нехватка практического оборудования в лабораторных кабинетах,
          недостаток визуального примера и практического опыта
        </p>
        <h2>Достоинства установки:</h2>
        <ul style="margin-left: 4rem; margin-top: -0.2rem">
          <li>Компактность</li>
          <li>Возможность реализации нескольких видов опытов</li>
          <li>Доступная цена</li>
          <li>Имеется возможность подключения к системе водоснабжения</li>
          <li>Имеется возможность обособления установки посредством присоединения бака и насоса для нагнетания воды</li>
          <li>Простота в обслуживании</li>
        </ul>
        <img class="main-wrapper__page-content-img" src="assets/IMG_7487.jpg">
        <div class="buy-block">
          <p style="font-size: 22px">Цена: 100.000р</p>
          <button
            (click)="pageContentService.currentPage = pages.CONTACTS"
            mat-raised-button
            color="accent"
          >
            Купить
          </button>
        </div>
        <h2>Составляющие установки:</h2>
        <ul style="margin-left: 4rem; margin-top: -0.2rem">
          <li>Водонагреватель электрический</li>
          <li>Комплект труб</li>
          <li>Испытуемый теплообменник</li>
          <li style="margin-bottom: 1.5rem">2 счетчика тепла ЭКО НОМ СТУ</li>
        </ul>
      </div>
    </ng-container>
  </div>
  <div class="toolbar footer-bar">
    <img (click)="handleRedirect(logoRedirectUrls.UNIVERSITY)" class="logo-image" src="assets/LOGO.jpg">
    <img (click)="handleRedirect(logoRedirectUrls.TEF)" class="logo-image" src="assets/LOGO2.jpg">
  </div>
</div>
